.idea/
.vs/
.vscode/
build/
cmake-build-*/
prefix/
**/.DS_Store
CMakeLists.txt.user
CMakeUserPresets.json
samples
*.xml
*.o
*.a
test
testlib
Testing
*.so
CMakeFiles
CMakeCache.txt
.cmake
cmake-build-debug
cmake_install.cmake
*.cbp
